* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.bmp binary
*.pdf binary
*.doc binary
*.docx binary
*.xlsx binary
*.epub binary
*.mobi binary
*.azw3 binary
*.zip binary
*.7z binary
*.rar binary
*.mp3 binary
*.ogg binary
*.wav binary
*.mid binary
*.mp4 binary
*.sf3 binary
*.txt -text
